<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="title">Gestion des factures</h3>
        </div>
        <div class="card-body">
         <div class="row">
          <button class="btn btn-sm btn-outline-primary" (click)="open(content)">
            <i class="fa fa-file">Ajouter une nouvelle facture</i>
        </button>

        <table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Numéro facture</th>
    <th>Date facture</th>
    <th>Adresse</th>
    <th>Prix</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>

<tr *ngFor= "let fact of facture"></tr>

</tbody>
        </table>
         </div>
        </div>
      </div>
    </div>
   
    
  </div>
</div>
